<h1>Notice Board</h1>

<h3>What's Trending</h3>

<%= link_to 'See all notices', controller: 'articles' %>

<ul>
	<% @articles.each do |article| %>
	  <li>
	    <a href=<%=article_path(article)%> class="sticky">
	      <h2>Title: <%= article.title %></h2>
	      <p>Likes: <%= article.likes.length %></p>
	    </a>
	  </li>
	 <% end %>
 </ul>

