<div class="header">
	<h1>Notice Board|Trending</h1>

	<strong><%= link_to 'See all notices', controller: 'articles' %></strong>
</div>
<ul>
	<% @articles.each do |article| %>
	  <li>
	    <a href=<%=article_path(article)%> class="sticky">
	      <h2><%= article.title %></h2>
	      <p>Likes: <%= article.likes.length %></p>
	    </a>
	  </li>
	 <% end %>
 </ul>

